<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://t10-2019361171.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1a0db956-e16a-485c-b50e-5b70eb4c262f/resourceGroups/Tarea10/providers/Microsoft.Web/sites/T10-2019361171</ResourceId>
    <UserName>$T10-2019361171</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://t10-2019361171.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>